* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: olivedrab;
    color: orange;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    height: 100vh;
}

label {
    font-size: 50px;
    font-weight: bold;
}

input {
    width: 380px;
    height: 50px;
    padding: 18px 16px;

    background-color: orange;

    font-weight: bold;
    color: olivedrab;

}

input::placeholder {
    color: rgb(107, 142, 35, 0.6);
}

button {
    all: unset;
    cursor: pointer;

    background-color: orange;
    padding: 12px 22px;
    border-radius: 15px;

    color: olivedrab;
    font-size: 18px;
    font-weight: 700;
}